<div class="row footer">
    <div class="col-md-4 footercard">
        <h2>About The Library</h2>
        <ul>
            <li>Jobs at the Library</li>
            <li>Doing Business with the Library</li>
            <li>Vision, Mission & Values</li>
            <li>History of the Library</li>
            <li>Library Board</li>
            <li>Advisory Councils</li>
        </ul>
    </div>
    <div class="col-md-4 footercard">
        <h2>Blog Podcast & Comunication</h2>
        <ul>
            <li>Local History Publications</li>
            <li>What's On Publications</li>
            <li>Young Voices Magazine</li>
            <li>Open Data & Feeds</li>
        </ul>
    </div>
    <div class="col-md-4 footercard">
        <h2>Support Your Library</h2>
        <ul>
            <li>TPL Foundation</li>
            <li>Friends of the Library</li>
            <li>Volunteering</li>
            <li>Book Sales</li>
            <li>Donate Books to the Library</li>
            <li>Donate Now</li>
        </ul>
    </div>
  </div>