<div class="row">
    <mat-form-field class="col-md-8 m-3" appearance="standard">
        <mat-label>Find</mat-label>
        <input matInput placeholder="Ex. Rich Dad Poor Dad" #input>
    </mat-form-field>
</div> 

<div class=" row jumbotron">
    <div class="col-md-6 bannerImg">
        <img src="../assets/images/library-banner.jpg" alt="banner Image">
    </div>
    
    <div class="col-md-6 jumboContent mat-elevation-z20">
        <h2 class="jumboHeading">So Long, Late Fines. Hello, Library!
        </h2>
        <p class="lead">
            We’re happy to announce that we have permanently ended late fines for everyone, which will remove a barrier to access and make the library more welcoming to all Torontonians. 
        </p>
        <button mat-raised-button class="px-3 learnMore" color="warn">Learn more...
        </button>
    </div>
    
  </div>

  <div class="row cardBox">
     
    <h2>New Books</h2>

    <div color="primary" class="col-md-3 card">
        <mat-card  class="example-card mat-elevation-z15">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Book Name</mat-card-title>
              <mat-card-subtitle>by Writer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="newBookBtn" mat-raised-button>Read more..</button>
            </mat-card-actions>
          </mat-card>
    </div>

    <div color="warn" class="col-md-3 card">
        <mat-card class="example-card mat-elevation-z15">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Book Name</mat-card-title>
              <mat-card-subtitle>by Writer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="newBookBtn" mat-raised-button>Read more..</button>
            </mat-card-actions>
          </mat-card>
    </div>

    <div color="primary" class="col-md-3 card">
        <mat-card class="example-card mat-elevation-z15">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Book Name</mat-card-title>
              <mat-card-subtitle>by Writer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="newBookBtn" mat-raised-button>Read more..</button>
            </mat-card-actions>
          </mat-card>
    </div>

    <div color="warn" class="col-md-3 card">
        <mat-card class="example-card mat-elevation-z15">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Book Name</mat-card-title>
              <mat-card-subtitle>by Writer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="newBookBtn" mat-raised-button>Read more..</button>
            </mat-card-actions>
          </mat-card>    </div>
  </div>

  <div class="row upcomingProgramBox">
    <h2>Upcoming program</h2>
    <div class="col-md-6 programImg">
        <img src="../assets/images/summerCamp.png" alt="">
    </div>
    <div class="col-md-5 campContent">
        <p>
            <strong>Date :</strong>&nbsp;July 5 – August 17<br>
             Tuesday-Thursday<br>
             10am – 3pm
        </p>
        <p><i>What are library summer camps?</i></p>
        <p> The Salt Spring Island Public Library is running weekly themed summer camps this summer for children aged five (completed kindergarten) to nine.</p><br>
        <button mat-raised-button class="campBtn"> Know more..</button>
    </div>

  
  </div>