<div class="container">
  <div class="row rowBox">
    <div class="col-md-6 signinBox">
      <form action="">
        <h2>Sign In</h2>
         <mat-form-field appearance="fill" class="w-100">
        <mat-label>Username</mat-label>
        <input matInput>
      </mat-form-field><br><br>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field><br><br>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput type="text" ></textarea>
      </mat-form-field><br>
      <button mat-raised-button type="submit">Send</button>&nbsp;&nbsp;
      <a  href="">Forget password?</a>
    </form>
  </div>
    </div>
</div>